/** ********** Colors ********** **/
@define-color background      #0E101C; 
@define-color foreground      #CDD6F4;
@define-color selected        #89B4FA;
@define-color black           #0E101C;
@define-color red             #F38BA8;
@define-color green           #A6E3A1;
@define-color yellow          #F9E2AF;
@define-color blue            #89B4FA;
@define-color magenta         #F5C2E7;
@define-color cyan            #94E2D5;
@define-color white           #BAC2DE;
